<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.umetechnologypvt.ume">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.microphone" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->
    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">
        <activity
            android:name=".Activities.Home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://recipe-app.com/recipe" -->
                <data
                    android:host="umetechnology.com"
                    android:pathPrefix="/u"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.ContactSelectionScreen" />
        <activity android:name=".Activities.ForwardContactSelectionScreen" />
        <activity android:name=".Activities.Comments.CommentsActivity" />
        <activity android:name=".Activities.PhoneContacts" />
        <activity android:name=".Camera.CameraActivity" />
        <activity android:name=".Activities.ViewPost">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://recipe-app.com/recipe" -->
                <data
                    android:host="umetechnology.com"
                    android:pathPrefix="/p"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Camera.WhatsappCameraActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Camera.VideoRedirectActivity" />
        <activity android:name=".Camera.PhotoRedirectActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Stories.StoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.GPSTrackerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Search.SearchActivity" />
        <activity android:name=".Activities.UserFriends" />
        <activity
            android:name=".Activities.UserManagement.Register"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.UserManagement.Login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.Search.Filters"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activities.ImageCrop.TempActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.UserProfileScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SingleChattingScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ViewPictures"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PlayVideo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditProfile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.NotificationsList"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.TestTranslation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.Profile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.Location.NearbyPeople"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.PhoneVerification"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Camera.TrimmerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Stories.StoriesCameraActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Camera.AddStoryActivity" />
        <activity
            android:name=".Stories.MyStoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Stories.StoryRedirectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Camera.TextStatusActivity"

            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activities.UserManagement.AccountSettings" />
        <activity android:name=".Stories.TextStatusStory"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name=".Utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <provider
            android:name=".provider.GenericFileProvider"
            android:authorities="com.umetechnologypvt.ume.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".FloatingChatButton.FloatingButton" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>