<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsinventiv.ume">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.ContactSelectionScreen" />
        <activity android:name=".Activities.Search.SearchActivity" />
        <activity android:name=".Activities.ImageCrop.TempActivity" />
        <activity android:name="com.yalantis.ucrop.UCropActivity" />
        <activity
            android:name=".Activities.UserProfileScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SingleChattingScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ViewPictures"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditProfile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.Profile"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activities.PhoneVerification">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>