<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.umetechnologypvt.ume">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--<uses-permission android:name="android.permission.WRITE_CONTACTS" />-->

    <application
        android:name="com.umetechnologypvt.ume.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.umetechnologypvt.ume.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.umetechnologypvt.ume.Activities.ContactSelectionScreen" />
        <activity android:name="com.umetechnologypvt.ume.Activities.ForwardContactSelectionScreen" />
        <activity android:name="com.umetechnologypvt.ume.Activities.PhoneContacts" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.GPSTrackerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.umetechnologypvt.ume.Activities.Search.SearchActivity" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.Search.Filters"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.umetechnologypvt.ume.Activities.ImageCrop.TempActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.UserProfileScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.SingleChattingScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.ViewPictures"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.PlayVideo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.EditProfile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.NotificationsList"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.TestTranslation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.Profile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.Location.NearbyPeople"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.umetechnologypvt.ume.Activities.PhoneVerification"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.umetechnologypvt.ume.Activities.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.umetechnologypvt.ume.Utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.umetechnologypvt.ume.Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.umetechnologypvt.ume.provider.GenericFileProvider"
            android:authorities="com.umetechnologypvt.ume.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>